.note__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.22;
  color: #fff;
  margin: 0 10px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
}

@media screen and (max-width: 786px) {
  .note__title {
    font-size: 18px;
    line-height: 1.24;
  }
}

@media screen and (max-width: 620px) {
  .note__title {
    font-size: 16px;
    line-height: 1.24;
  }
}