.notes {
  padding: 15px 0 36px;
  display: grid;
  row-gap: 20px;
  grid-template-columns: 100%;
  width: 48%;
  list-style: none;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  .notes {
    width: 90%;
  }
}
